.navigation {
  background: #00897B;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;

  &__trigger {
    cursor: pointer;
    height: 46px;
    padding: 15px;
  }

  &__loading {
    float: right;
  }
}
