.source-listing {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.source {
  flex-basis: 170px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  text-align: center;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    padding: 15px;
  }

  input:checked + label {
    background: #4DB6AC;
  }
}
